@font-face {
    font-family: 'CeraPro';
    src: url(./../fonts/CeraPro-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(./../fonts/CeraPro-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(./../fonts/CeraPro-Medium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(./../fonts/CeraPro-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'caviardreams';
    src: url(./../fonts/caviardreams.woff);
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'CeraPro', sans-serif;

   @media screen and (max-width: 767px) {

background-color: var(--bg-color-main);
  background-image: 
    url(/src/images/bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
       }
     @media screen and (min-width: 768px) {

background-color: var(--bg-color-main);
  background-image: 
    url(/src/images/bg-tab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
       }  
       @media screen and (min-width: 1200px) {

background-color: var(--bg-color-main);
  background-image: 
    url(/src/images/bg-tab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
       }  
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



