@font-face {
  font-family: 'CeraPro';
  src: url(./../fonts/CeraPro-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(./../fonts/CeraPro-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(./../fonts/CeraPro-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CeraPro';
  src: url(./../fonts/CeraPro-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'caviardreams';
  src: url(./../fonts/caviardreams.woff);
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'CeraPro', sans-serif;
  background-color: var(--bg-color-main);

    padding-top: 85px;
    background-image: url(/src/images/bg-mob.jpg);
    background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 295px;
  background-size: contain;
 @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: 
    url(/src/images/bg-mob-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-position-y: top;
    background-image: url(/src/images/bg-tab.jpg);
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: 
    url(/src/images/bg-tab-2x.jpg);
  }
  @media screen and (min-width: 1440px) {
     background-position-y: top;
    background-image: url(/src/images/bg.jpg);
    max-width: 1562px;
     @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  background-image: 
    url(/src/images/bg-2x.jpg);
}
  }
}
}

.list {
  list-style: none;
}
li {
    list-style: none;
}

.link {
  text-decoration: none;
}
a {
    text-decoration: none;
}

