@font-face {
    font-family: 'CeraPro';
    src: url(/src/fonts/CeraPro-Light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(/src/fonts/CeraPro-Regular.woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(/src/fonts/CeraPro-Medium.woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'CeraPro';
    src: url(/src/fonts/CeraPro-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'CeraPro', sans-serif;
   
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}



