@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --text-color: #2b2b2b;
  --title-color: #487996;
  --bg-color-main: #FFFFFF;
  --bg-color-footer: #f5f5fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

@font-face {
  font-family: "CeraPro";
  src: url(./../fonts/CeraPro-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(./../fonts/CeraPro-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(./../fonts/CeraPro-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(./../fonts/CeraPro-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "caviardreams";
  src: url(./../fonts/caviardreams.woff);
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: "CeraPro", sans-serif;
  background-color: var(--bg-color-main);
  background-image: url(/src/images/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url(/src/images/bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(/src/images/bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  body {
    background-image: url(/src/images/bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) {
  body {
    background-image: url(/src/images/bg.jpg);
    max-width: 1562px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1440px) and (min-resolution: 2dppx) {
  body {
    background-image: url(/src/images/bg-2x.jpg);
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title-page {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--title-color);
}
@media screen and (max-width: 767px) {
  .title-page {
    margin-bottom: 16px;
  }
}

.title-section {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
  text-transform: uppercase;
  color: var(--title-color);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.btn {
  color: var(--title-color);
  background-color: var(--bg-color-footer);
  font-family: inherit;
  font-weight: 700px;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30.5px;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
}

.hero {
  position: relative;
  padding-top: 34px;
  padding-bottom: 18px;
  font-family: "caviardreams";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .hero {
    font-size: 18px;
    line-height: 1.1666666667;
  }
}

.hero__title {
  width: 280px;
  margin: auto;
  font-family: "caviardreams";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 336px;
    font-size: 24px;
    line-height: 1.1666666667;
  }
}

.hero-fonpict__anchor {
  cursor: pointer;
}

.hero-fonpict__icon {
  position: absolute;
  left: 135px;
  bottom: 70px;
  fill: #008CEF;
}
@media screen and (max-width: 767px) {
  .hero-fonpict__icon {
    display: none;
  }
}

.hero-fonpict__pict {
  width: 74px;
  display: block;
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));
}

.pict--one {
  position: absolute;
  top: 0;
  left: 105px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .pict--one {
    display: none;
  }
}

.pict--two {
  position: absolute;
  top: 8px;
  right: 32px;
  border-radius: 0px 0px 72px 0px;
}
@media screen and (max-width: 767px) {
  .pict--two {
    display: none;
  }
}

.pict--three {
  position: absolute;
  top: 288px;
  left: 32px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  .pict--three {
    display: none;
  }
}

.pict--four {
  position: absolute;
  top: 226px;
  right: 32px;
  display: block;
  border-radius: 72px 72px 0px 0px;
}
@media screen and (max-width: 767px) {
  .pict--four {
    display: none;
  }
}

.hero-imglist {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .hero-imglist {
    gap: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.hero-imglist__pict-one {
  display: block;
  border-radius: 0px 35px 0px 0px;
}
.hero-imglist__pict-two {
  display: block;
  border-radius: 50%;
}
.hero-imglist__pict-three {
  display: block;
  border-radius: 0px 25px;
}

.hero-imglist__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-imglist__item {
    width: 114px;
  }
}
.hero-imglist__item img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}

.gallery {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery {
    margin-bottom: 120px;
  }
}
.gallery .gallery__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .gallery .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery h2 {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .gallery h2 {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .gallery h2 {
    margin-bottom: 62px;
  }
}

.gallery__text {
  font-family: "Cera Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--title-color);
  margin-top: 8px;
}

.gallery__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .gallery__item {
    margin-right: 32px;
    width: calc((100% - 32px) / 2);
  }
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .gallery__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

.modeling {
  max-width: 100%;
}

.modeling__pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 40px;
  row-gap: 16px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.modeling__h1 {
  margin-bottom: 16px;
}

.modeling__p {
  margin-bottom: 16px;
}

.modeling__p-second {
  margin-bottom: 40px;
}

.modeling__h2 {
  margin-bottom: 16px;
}

.modeling__li {
  margin-left: 15px;
  position: relative;
}
.modeling__li:not(:last-child) {
  margin-bottom: 16px;
}

.modeling__ul {
  list-style: none;
}

.modeling__img-photo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.modeling__marker {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: var(--title-color);
  width: 7px;
  height: 7px;
  border-radius: 3px 0px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 320px;
  height: 100%;
  background-color: var(--bg-color-footer);
}
.footer-picture {
  display: flex;
  justify-content: center;
}
.footer__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer__list {
  text-align: center;
  margin-top: 19px;
}
.footer-title {
  margin-bottom: 8px;
}
.footer-box {
  margin-top: 24px;
}

.footer__email, .footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: var(--title-color);
}

.tel-top {
  margin-bottom: 8px;
}

.footer__item, .footer__soc-item, .footer__contacts-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  font-style: normal;
  color: var(--text-color);
}

.footer__soc {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.footer__soc-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__contacts {
  text-align: center;
}
.footer__contacts-item {
  display: block;
}/*# sourceMappingURL=index.css.map */