@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --text-color: #2b2b2b;
  --title-color: #487996;
  --bg-color-main: #e5e5e5;
  --bg-color-footer: #f5f5fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

@font-face {
  font-family: "CeraPro";
  src: url(/src/fonts/CeraPro-Light.woff);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(/src/fonts/CeraPro-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(/src/fonts/CeraPro-Medium.woff);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "CeraPro";
  src: url(/src/fonts/CeraPro-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "CeraPro", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title-page {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
}
@media screen and (max-width: 767px) {
  .title-page {
    margin-bottom: 16px;
  }
}

.title-section {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2777777778;
  text-transform: uppercase;
  color: #487996;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.btn {
  color: var(--title-color);
  background-color: var(--bg-color-footer);
  font-family: inherit;
  font-weight: 700px;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 56px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30.5px;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1), 5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
}

.hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #2B2B2B;
}

.hero__title {
  width: 280px;
  margin: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
}

.hero-imglist {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 32px;
  margin-bottom: 32px;
}
.hero-imglist__pict-one {
  display: block;
  border-radius: 0px 35px 0px 0px;
}
.hero-imglist__pict-two {
  display: block;
  border-radius: 50%;
}
.hero-imglist__pict-three {
  display: block;
  border-radius: 0px 25px;
}

.hero-imglist__item {
  max-width: calc((100vw - 40px) / 3);
}
.hero-imglist__item img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
}

.section {
  margin-bottom: 40px;
}

.gallery__text {
  font-family: "Cera Pro", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.25;
  color: var(--title-color);
  margin-top: 8px;
}

.gallery__list:not(:last-child) {
  margin-bottom: 24px;
}

.modeling {
  max-width: 100%;
}

.modeling__pictures {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 40px;
  row-gap: 16px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.modeling__h1 {
  margin-bottom: 16px;
}

.modeling__p {
  margin-bottom: 16px;
}

.modeling__p-second {
  margin-bottom: 40px;
}

.modeling__h2 {
  margin-bottom: 16px;
}

.modeling__li {
  margin-left: 15px;
  position: relative;
}
.modeling__li:not(:last-child) {
  margin-bottom: 16px;
}

.modeling__ul {
  list-style: none;
}

.modeling__img-photo {
  padding-top: 40px;
  padding-bottom: 40px;
}

.modeling__marker {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #487996;
  width: 7px;
  height: 7px;
  border-radius: 3px 0px;
}/*# sourceMappingURL=index.css.map */