<div class="contacts-details">

    <ul class="details-list list">
        <li>
            <ul class="tel-email-list list">
                <li>
                    <div class="conntent">
                        <strong class="contacts-details__title">ТЕЛЕФОНИ</strong>
                       
                            <p class="address__text">+38 (095) -73-84-551</p>

                            <p class="address__text">+38 (098) -00-25-235</p>
                    
             
                    </div>
                </li>
                <li>
                    <div class="conntent-mail">
                        <strong class="contacts-details__title">Email</strong>
                        
                            <p class="address__text">3dfreedom.info@gmail.com</p>
                       
          
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="conntent-time">
                <strong class="contacts-details__title">Робочий час</strong>
                <ul class="contacts-details__list list">
                    <li class="contacts-details__item link">Пн-пт:
                        <p class="contacts-details__text">
                            з 8:00 до 19:00</p>
                    </li>
                    <li class="contacts-details__item link">Сб, Нд:
                        <p class="contacts-details__text">
                            з 10:00 до 17:00</p>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

</div>