<section class="contacts-details">
    <div class="container">
        <div class="conntent">
            <h3 class="contacts-details__title">ТЕЛЕФОНИ</h3>
            <address class="address">
                <p class="address__text">+38 (095) -73-84-551</p>
                <p class="address__text">+38 (098) -00-25-235</p>
            </address>
            <!-- <ul class="contacts-denails__list list">
                <li class="contacts-details__item link">
                    <p class="address__text">+38 (095) -73-84-551</p></li>
                <li class="contacts-details__item link">
                    <p class="address__text">+38 (098) -00-25-235</p></li>
            </ul> -->
        </div>
        <div class="conntent-mail">
            <h3 class="contacts-details__title">Email</h3>
            <address class="address">
                <p class="address__text">3dfreedom.info@gmail.com</p>
            </address>
            <!-- <ul class="contacts-denails__list list">
                <li class="contacts-denails__item link">
                    <p class="contacts-denails__text">3dfreedom.info@gmail.com</p></li>
            </ul> -->
        </div>
        <div class="conntent-time">
            <h3 class="contacts-details__title">Робочий час</h3>
            <ul class="contacts-details__list list">
                <li class="contacts-details__item link">Пн-пт:
                    <p class="contacts-details__text">
                        з 8:00 до 19:00</p>
                </li>
                <li class="contacts-details__item link">Сб, Нд:
                    <p class="contacts-details__text">
                        з 10:00 до 17:00</p>
                </li>
            </ul>
        </div>
    </div>
</section>


