<section class="forms">
    <div class="container-form">
        <h3 class="title-section title-center">Зв'яжіться з нами</h3>

        <form class="form">

            <div class="form-field">
                <label class="form-field__label"><span class="form-field__label-text">Ім'я</span>
                    <input type="text" name="name" placeholder="XXX" class="form-field__name input--main" />
                </label>
            </div>

            <div class="form-field">
                <label class="form-field__label"><span class="form-field__label-text">Email</span>
                    <input type="email" name="email" placeholder="XXX" class="form-field__email input--main" />
                </label>
            </div>

            <div class="form-field">
                <label>
                    <select name="view" id="view" class="form-field__choice input--main">
                        <option class="triangle" value="">Види пластика</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </label>
            </div>

            <div class="form-field">
                <label>
                    <select name="quality" id="quality" class="form-field__choice input--main">
                        <option value="">Якість друку</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </label>
            </div>

            <div class="form-field">
                <label>
                    <select name="color" id="color" class="form-field__choice input--main">
                        <option value="">Колір</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>

                </label>
            </div>

            <div class="form-field textarea-cont">

                <label class="form-field__comment-title">Повідомлення</label>

                <a href="/src/doc/present.pdf" download class="textarea-link">
                    <svg class="textarea-link__icon" width="22" height="20">
                        <use href="/src/images/icons.svg#icon-paper-clip"></use>
                    </svg>
                </a>
                <textarea class="form-field__comment input--main" id="comment"
                    placeholder="Залишіть своє повідомлення"></textarea>

                <p class="form__note">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
            </div>
        </form>

        <button type="button" class="btn-send btn">Відправити</button>

    </div>
</section>