<section class="forms">
    <div class="container-form">
        <h3 class="title-section title-center">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
        <form class="order-form">
            <div class="order-form__field">
                <label>
                    <input type="text" name="name" placeholder="Ім’я" class="order-form-name" />
                </label>
            </div>
            <div class="order-form__field">
                <label>
                    <input type="email" name="email" placeholder="Email" class="order-form-email" />
                </label>
            </div>
            <div class="order-form__field">
                <label>
                    <select name="view" id="view" class="order-form-choice">
                        <option class="triangle" value="">Види пластика</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </label>
            </div>
            <div class="order-form__field">
                <label>
                    <select name="quality" id="quality" class="order-form-choice">
                        <option value="">Якість друку</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                </label>
            </div>
            <div class="order-form__field">
                <label>
                    <select name="color" id="color" class="order-form-choice">
                        <option value="">Колір</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>

                </label>
            </div>
            <div class="order-form__field">
                <label class="order-form__comment-title">
                    Повідомлення</label>

                
                    <a href="/src/doc/present.pdf" download>
                        <div class="form-svg-add">
                    <svg class="svg-add" width="22" height="20">
                        <use href="/src/images/icons.svg#icon-paper-clip"></use>
                    </svg>
                    </div>
                    </a>
                

                <textarea class="order-form__comment" id="comment" placeholder="Залишіть своє повідомлення"></textarea>

            </div>
        </form>
        <p class="order-form-note">
            *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
        </p>
        <button type="button" class="btn-send btn">ВІДПРАВИТИ</button>
    </div>
</section>