<section>
  <div class="order">
    <h2 class="order-title">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <picture>
      <source
        media="(max-width: 767px)"
        srcset="./images/cubemob-1.jpg 1x, ./images/cubemob-1-2x.jpg 2x"
      />
      <img src="./images/cubemob-1.jpg" alt="Cube" class="order-img" />
    </picture>
    <p class="order-text">
      На цій сторінці ви можете зробити замовлення заповнивши форму і ми
      зв'яжемося з вами.
    </p>
    <p class="order-text">
      Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть
      відповідь на всі ваші запитання.
    </p>
  </div>
</section>

<section class="order-hero-form">
    <div class="order-connection--margin">
      <h3 class="order-connection-title">ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
      <form class="order-form">
        <div class="order-form__container-name">
          <label>
            <input
              type="text"
              name="name"
              placeholder="Ім’я"
              class="order-form-name"
            />
          </label>
        </div>
        <div class="order-form__container-email">
          <label>
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="order-form-email"
            />
          </label>
        </div>
        <div class="order-form__container-email">
          <label>
            <select name="view" id="view" class="order-form-choice">
              <option value="">Види пластика</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </label>
        </div>
        <div class="order-form__container-email">
          <label>
            <select name="quality" id="quality" class="order-form-choice">
              <option value="">Якість друку</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </label>
        </div>
        <div class="order-form__container-email">
          <label>
            <select name="color" id="color" class="order-form-choice">
              <option value="">Колір</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </label>
        </div>
        <div class="order-form__container-email">
          <label class="order-form__comment-title">
            Повідомлення
            <div>
                <textarea
                  placeholder="Залишіть своє повідомлення"
                  type="text"
                  name="comment"
                  class="order-form__comment">
                </textarea>
            </div>
          </label>
        </div>
      </form>
      <p class="order-form-note">
        *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
      </p>
      <button type="button" class="order-form-send">ВІДПРАВИТИ</button>
    </div>
  </section>
</section>
