<section class="order">
  <div class="container-picture">
    <h2 class="title-page">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
<ul class="order-list">
    <li class="order-item"><picture>
      <source media="(max-width: 767px)" srcset="/src/images/cubemob-1.jpg 1x, /src/images/cubemob-1-2x.jpg 2x" />
      <img src="/src/images/cubemob-1.jpg" alt="Cube" class="order-img" />
    </picture></li>

    <li class="order-item"><p class="order-text">
      На цій сторінці ви можете зробити замовлення заповнивши форму і ми
      зв'яжемося з вами.
    </p>
    <p class="order-text">
      Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть
      відповідь на всі ваші запитання.
    </p>
  <ul class="order-imglist">
    <li class="order-imglist__item">
      <picture>
        <source media="(min-width: 1440px)" srcset="/src/images/order1_1-desk.jpg 1x,
                  /src/images/order1_1-desk-2x.jpg 2x" />
        <img src="/src/images/order1_1-desk.jpg" alt="машинка" width="203" class="order-imglist__pict-one" />
      </picture>
    </li>
    <li class="order-imglist__item">
      <picture>
        <source media="(min-width: 1440px)" srcset="/src/images/order1_2-desk.jpg 1x,
                  /src/images/order1_2-desk-2x.jpg 2x" />
        <img src="/src/images/order1_2-desk.jpg" alt="якісь штуки" width="203" class="order-imglist__pict-two" />
      </picture>
    </li>
    <li class="order-imglist__item">
      <picture>
        <source media="(min-width: 1440px)" srcset="/src/images/order1_3-desk.jpg 1x,
                  /src/images/order1_3-desk-2x.jpg 2x" />
        <img src="/src/images/order1_3-desk.jpg" alt="гриб-лампа" width="203" class="order-imglist__pict-three" />
      </picture>
    </li>
  </ul>
  
  </li>
</ul>
  </div>
</section>


 