<section class="order">
  <div class="container">
    <h2 class="title-page">ЗРОБИТИ ЗАМОВЛЕННЯ</h2>
    <picture>
      <source media="(max-width: 767px)" srcset="/src/images/cubemob-1.jpg 1x, /src/images/cubemob-1-2x.jpg 2x" />
      <img src="/src/images/cubemob-1.jpg" alt="Cube" class="order-img" />
    </picture>
    <p class="order-text">
      На цій сторінці ви можете зробити замовлення заповнивши форму і ми
      зв'яжемося з вами.
    </p>
    <p class="order-text">
      Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть
      відповідь на всі ваші запитання.
    </p>
  </div>
</section>


