.contacts {
  padding-top: 92px;
  @include media(768px) {
    padding-top: 104px;
  }
  @include media(1440px) {
    padding-top: 188px;
}

    background-image: url("/src/images/cub-mob-1x.jpg  1x");    
    background-repeat: no-repeat;
    background-size: 280px 171px;  
    @include retina {
       background-image: url("/src/images/cub-mob-2x.jpg  2x");
    } 
    
    @media screen and (min-width:768px) and (max-width:1439px){
       background-image: url("/src/images/cub-tab-1x.jpg  1x");    
       background-size: 336px 261px;  
       @include retina {
       background-image: url("/src/images/cub-tab-2x.jpg  2x");
    }  
    }

    @media screen and (min-width:1440px){
       background-image: url("/src/images/cub-desk-1x.jpg  1x");    
       background-size: 555px 315px;  
       @include retina {
       background-image: url("/src/images/cub-desk-2x.jpg 2x");
    }   
    }


  }


.contacts-list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        // gap: 32px;
    }
}

.contacts-item {
  @media screen and (min-width: 768px) {
    width: 336px;
  }
}
.order-text.smile {
  position: relative;
}
.emoji {
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: 16px;
}

.contacts-structure {
  @media screen and (min-width: 1440px) {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
    justify-content: space-between;
  }
}
.forms {
  margin-top: 41px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    max-width: 400px;
    // align-content: center;
  }

  @media screen and (min-width: 1440px) {
    width: 555px;
    margin-left: 0;
  }
}
