.contacts {
    padding-top: 92px;
    @include media (768px) {
    padding-top: 104px;
    }
    @include media (1440px) {
    padding-top: 188px;
    }
}
.contacts-list {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 32px;
    }
}

.contacts-item {
    @media screen and (min-width: 768px) {
        width: 336px;
    }
}

.text-smile::after {
    content: "";
    width: 49px;
    height: 49px;
    background-size: contain;
    background-image: url("/src/images/emoji.png");
        }

