.title {
  font-family: 'Cera Pro', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1.25;

color: var(--title-color);

text-transform: uppercase;

margin-bottom: 16px;
}

.list {
    list-style: none;
}

.gallery__text {
    font-family: 'Cera Pro', sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.25;

color: var(--title-color);

margin-top: 8px;
}

.gallery__list:not(:last-child) {
    margin-bottom: 24px;
}
