//header style
.header {
    position: absolute;
    top: 0;
    z-index: 5;

    width: 100%;
    height: 75px;



}

.container-header {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1440px) {
        max-width: 1440px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}


.header>.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    display: block;
}



.menu-open {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--title-color);
    transition: color 250ms var(--cubic-bezier);

    @include media(1440px) {
        position: absolute;
        display: none;
    }

    &:hover,
    &:focus {
        color: var(--text-active);
    }
}

.menu-close {
    display: block;
    background-color: transparent;
    border: none;
    color: var(--title-color);
    transition: color 250ms var(--cubic-bezier);

    @include media(1440px) {
        position: absolute;
        display: none;
    }

    &:hover,
    &:focus {
        color: var(--text-active);
    }
}

.icon-open,
.icon-close {
    fill: currentColor;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-open__wrap {


    position: absolute;
    z-index: 1;
    top: 50%;
    left: 52%;

    transform: translate(-50%, -50%);


    @include media(1440px) {
        display: none;
    }
}

.menu-close__wrap {


    position: absolute;
    z-index: 5;
    top: 6.5%;
    left: 52%;

    transform: translate(-50%, -50%);


    @include media(1440px) {
        display: none;
    }
}

.head-menu__link {

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 110%;
        width: 0;
        height: 0;
        border-bottom: 3px solid #008CEF;
        border-left: 5px solid #0000;
        border-right: 5px solid #0000;
        border-radius: 2px;
        transition: color 250ms var(--cubic-bezier);

    }

    &:hover,
    &:focus {


        &::before {
            transform: rotate(180deg);
        }
    }
}



.head-menu {
    display: none;

    @include media(1440px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 540px;
    }
}

.head-menu__li {
    position: relative;

    &:hover,
    &:focus {
        color: var(--bg-color-main);
    }
}

.head-menu__li {
    position: relative;

    &:hover,
    &:focus {
        color: var(--bg-color-main);

        &::after {
            opacity: 1;
            transform: translate(-50%, -90%);

        }


    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--title-color);
        width: 110%;
        height: 110%;
        display: block;
        border-radius: 30px;
        opacity: 0;
        transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);

    }
}

.head-menu__content {
    position: absolute;
    display: none;

    @include media(1440px) {
        display: flex;
        align-items: center;
        gap: 56px;
    }
}

.head-menu__title {

    @include fonts(400, 18px, 21px, 00.01em);

    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--bg-color-main);
    }
}

.head-menu__offer {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: opacity 250ms var(--cubic-bezier);

    &:hover,
    &:focus {

        &::after {
            opacity: 1;
        }

        .head-menu__list {
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -20%);
        background-color: var(--bg-color-footer);
        width: 230%;
        height: 600%;
        display: block;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        opacity: 0;
        transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);
    }
}

.head-menu__list {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 90%;
    left: -65%;
    width: 140px;
    background-color: transparent;
    text-align: center;
    transition: opacity 250ms var(--cubic-bezier);
    opacity: 0;

}

.head-menu__word {


    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 00.01em;
    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--bg-color-main);
    }
}

.head-item__text {

    margin-bottom: 10px;
    @include fonts(400, 16px, 19px, 00.01em);

    color: #2b2b2b;
    transition: color 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--text-active);
    }
}


.icon-menu {
    fill: currentColor;
}

.lang-menu {
    position: relative;
    display: flex;
    align-items: center;

    transition: opacity 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);

    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }

    @media screen and (min-width: 1440px) {
        margin-right: 150px;
    }

    ul {

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -77%);
        width: 150%;
        height: 150%;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        transition: opacity 250ms var(--cubic-bezier), background-color 250ms var(--cubic-bezier);
        opacity: 0;
    }

    ul:hover,
    ul:focus {
        opacity: 1;
        background-color: var(--text-color);

        .lang-menu__text::before {
            opacity: 1;
        }
    }
}


.lang-menu__eng {
    @include fonts(700, 14px, 18px, 00.01em);
    text-transform: uppercase;

    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    &~.eng {
        display: none;
    }
}

.lang-menu__text {

    position: relative;
    @include fonts(700, 14px, 18px, 00.01em);
    text-transform: uppercase;

    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier), opacity 250ms var(--cubic-bezier);

    &:hover,
    &:focus {
        color: var(--bg-color-main);

        @media screen and (max-width: 767px) {
            color: var(--title-color);
        }

    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--title-color);
        width: 120%;
        height: 200%;
        display: block;
        border-radius: 30px;
        opacity: 0;
        transition: opacity 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);
    }
}

.contacts__phone-svg {
    align-items: center;
    fill: currentColor;
    margin-right: 5px;

}

.nav-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
    width: 100vw;
    height: 101vh;
    background-color: #fff;
    transition: opacity 250ms var(--cubic-bezier), visibility 250ms var(--cubic-bezier), transform 250ms var(--cubic-bezier);
    transform: translate(-50%, -50%) scaleX(1);

    background-image: url(/src/images/bg-mob.jpg);
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image:
            url(/src/images/bg-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-position-y: top;
        background-image: url(/src/images/bg-tab.jpg);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image:
                url(/src/images/bg-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1440px) {
        display: none;
    }
}

.nav-menu.is-hidden {
    transform: translate(0, 0) scaleX(0);
}

.nav-mix {
    height: 75px;
    display: flex;
    align-items: center;
}

.nav-menu__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    padding-top: 30px;
    padding-bottom: 102px;

    &:hover .offer-dropdown {
        display: block;
        opacity: 1;
    }
}


.nav-menu__title {

    @include fonts(700, 24px, 30px, 00.01em);

    color: var(--title-color);

    transition: text-shadow 250ms var(--cubic-bezier);

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        text-shadow: -2px -2px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--title-color);
    }

}

.nav-menu__offer {


    border: none;
    @include fonts(700, 24px, 30px, 00.01em);

    color: var(--title-color);
    background-color: transparent;

    transition: text-shadow 250ms var(--cubic-bezier);

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        text-shadow: -2px -2px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--title-color);
    }
}

.offer-dropdown {
    opacity: 0;
    display: none;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
}

.offer-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nav-menu__word {

    @include fonts(700, 24px, 30px, 00.01em);

    color: var(--title-color);

    transition: color 250ms var(--cubic-bezier);

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        text-shadow: -2px -2px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--title-color);
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
}

.nav-menu__text {

    @include fonts(500, 24px, 30px, 00.01em);

    color: var(--title-color);
    transition: opacity 250ms var(--cubic-bezier);



    &::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        border-radius: 3px 0;
        background-color: var(--title-color);
    }

    transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    opacity 250ms var(--cubic-bezier);

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        text-shadow: -2px -2px 0 var(--title-color), 1px -1px 0 var(--title-color), -1px 1px 0 var(--title-color), 1px 1px 0 var(--title-color);
    }
}


.contacts-mix {
    display: flex;
    margin-left: auto;

    @media screen and (min-width: 768px) {
        flex-direction: row-reverse;
    }
}

.contacts-element:nth-child(1) {
    position: absolute;
    margin-left: -60px;
}

.contacts-button {
    height: 101%;
    position: relative;
    border: none;
    background-color: transparent;
    color: var(--title-color);
    transition: fill 250ms var(--cubic-bezier);

    @include media(768px) {
        display: none;
    }

    &:hover,
    &:focus {
        color: var(--bg-color-main);
        border-radius: 50%;
        background-color: var(--title-color);
        border: dashed 1px black;
    }
}

.contacts__phone-icon {
    fill: var(--title-color);
}

.icon-phone {
    fill: currentColor;
}

.header-contacts {
    display: flex;
    align-items: center;
    list-style: none;

    @include media(768px) {
        display: flex;
    }
}

.menu__box {
    position: absolute;
    margin-top: 40%;
    margin-right: -210%;
    right: 0;

    @include media(768px) {
        display: none;
    }
}

.contacts__menu {
    position: relative;

    padding: 16px 4px;
    width: 160px;
    height: 80px;
    border-radius: 0 30px;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 3px #CBCBCB, inset -1px -1px 3px #FFFFFF;
    transition: opacity 250ms var(--cubic-bezier);
}

.contacts__menu::after {
    content: '';
    position: absolute;
    top: -15%;
    left: 45%;
    width: 0;
    height: 0;
    border-bottom: 15px solid #FFF;
    border-left: 10px solid #0000;
    border-right: 10px solid #0000;
    border-radius: 2px;
    text-shadow: 0 0 20px #000;
}

.contacts-element {
    &:first-child {
        margin-right: 27px;
    }

    @include media(768px) {
        &:first-child {
            margin-right: 27px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }
}

.contacts-element:nth-child(2) {

    @media screen and (min-width: 768px) {}

    @media screen and (min-width: 1440px) {}
}

.contacts-item__tel {
    display: block;

    @include fonts(400, 16px, 20px, 00.01em);

    color: var(--text-color);
    transition: color 250ms var(--cubic-bezier);

    &:first-child {
        padding-bottom: 10px;
    }

    &:hover,
    &:focus {
        color: var(--title-color);
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.contacts__tel {
    display: block;

    @include fonts(400, 16px, 20px, 00.01em);

    color: var(--text-color);

    transition: color 250ms var(--cubic-bezier);

    &:first-child {
        margin-bottom: 10px;
    }

    &:hover,
    &:focus {
        color: var(--text-active);
    }
}