.hero {
    & .container {position: relative;}

    padding-top: 92px;
    padding-bottom: 40px;
    
    font-family: 'caviardreams';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;

    color: var(--text-color);

    @include media (768px) {
        padding-top: 102px;
        padding-bottom: 60px;

        font-size: 18px;
        line-height: calc(21 / 18);
    }
    @include media (1440px) {
        padding-top: 140px;
        padding-bottom: 120px;

        font-size: 36px;
        line-height: calc(42 / 36);
    }
}
    .rectangule {
        position: absolute;
        top: -92px;

        width: 74px;
        height: 74px;

        box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;

        @include media (480px) {display: none;}
    }
    .rec--left {left: 0; border-radius: 0px 35px 35px 0px;}
    .rec--right {right: 0; border-radius: 35px 0px 0px 35px;}

.hero__title {
    width: 280px;
    margin: auto;

    font-family: 'caviardreams';
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);

    @include media (768px) {
        width: 336px;

        font-size: 24px;
        line-height: calc(28 / 24);
    }
    @include media (1440px) {
        width: 630px;

        font-size: 48px;
        line-height: calc(56 / 48);
        text-align: center;
    }
}

.hero-fonpict__anchor {
    cursor: pointer;
}

.hero-fonpict__icon {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    left: 134px;
    bottom: 72px;

    fill: #008CEF;

    @include media (1440px) {
        left: 230px;
        bottom: 9px;

        height: 32px;
        width: 32px;
    }
}

.hero-fonpict__pict {
    width: 74px;
    display: block;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));

    @include media (1440px) {width: 144px;}
}
.pict--one {
    z-index: 10;
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: -30px;
    left: 105px;

    border-radius: 50%;
    @include media (1440px) {
        top: 0;
        left: 174px;
    }
}
.pict--two {
    z-index: 10;
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: -26px;
    right: 32px;

    border-radius: 0px 0px 72px 0px;
    @include media (1440px) {
        top: 5px;

    }
}
.pict--three {
    z-index: 10;
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    bottom: -18px;
    left: 32px;

    border-radius: 50%;
    @include media (1440px) {
        bottom: -120px;
        left: 30px;
    }
}
.pict--four {
    z-index: 10;
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    bottom: 43px;
    right: 32px;

    border-radius: 72px 72px 0px 0px;
    @include media (1440px) {
        bottom: -49px;
    }
}
.pict--five {
    z-index: 10;
    @media screen and (max-width:1439px) {
        display: none;
    }

    position: absolute;
    bottom: 43px;


    border-radius: 72px;
    @include media (1440px) {
        right: 32px;
        bottom: -888px;
    }
}

.hero-imglist {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 32px;
    margin-bottom: 32px;

    @include media (768px) {
        gap: 30px;

        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include media (1440px) {
        gap: 31px;
    }

    &__pict-one {
        display: block;
        border-radius: 0px 35px 0px 0px;
        @include media (1440px) {border-radius: 0px 72px 0px 0px;}
    }

    &__pict-two {
        display: block;
        border-radius: 50%;
    }

    &__pict-three {
        display: block;
        border-radius: 0px 25px;
        @include media (1440px) {border-radius: 0px 72px;}
    }
}

.hero-imglist__item {
    width: 100%;
    @include media (768px) {width: 114px;}
    @include media (1440px) {width: 203px;}

    & img {
        filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
    }
}