.hero {
    & .container {position: relative;}

    padding-top: 34px;
    padding-bottom: 18px;
    
    font-family: 'caviardreams';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;

    color: var(--text-color);

    @include media (768px) {
        font-size: 18px;
        line-height: calc(21 / 18);
    }
    @include media (1440px) {
        padding-top: 140px;
        padding-bottom: 120px;

        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

.hero__title {
    width: 280px;
    margin: auto;

    font-family: 'caviardreams';
    font-weight: 400;
    font-size: 18px;
    line-height: calc(21 / 18);

    @include media (768px) {
        width: 336px;

        font-size: 24px;
        line-height: calc(28 / 24);
    }
    @include media (1440px) {
        width: 630px;

        font-size: 48px;
        line-height: calc(56 / 48);
        text-align: center;
    }
}
.jump {
    @media screen and (max-width:1439px) {display: none;}
}

.hero-fonpict__anchor {
    cursor: pointer;
}

.hero-fonpict__icon {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    left: 135px;
    bottom: 70px;

    fill: #008CEF;

    @include media (1440px) {
        height: 32px;
        width: 32px;
    }
}

.hero-fonpict__pict {
    width: 74px;
    display: block;
    filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.25));

    @include media (1440px) {width: 144px;}
}

.pict--one {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: 0;
    left: 105px;

    border-radius: 50%;
}

.pict--two {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: 8px;
    right: 32px;

    border-radius: 0px 0px 72px 0px;
}

.pict--three {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: 288px;
    left: 32px;

    border-radius: 50%;
}

.pict--four {
    @media screen and (max-width:767px) {
        display: none;
    }

    position: absolute;
    top: 226px;
    right: 32px;

    display: block;
    border-radius: 72px 72px 0px 0px;
}

.hero-imglist {
    list-style: none;

    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 32px;
    margin-bottom: 32px;

    @include media (768px) {
        gap: 30px;

        margin-top: 60px;
        margin-bottom: 60px;
    }
    @include media (1440px) {
        gap: 31px;
    }

    &__pict-one {
        display: block;
        border-radius: 0px 35px 0px 0px;
    }

    &__pict-two {
        display: block;
        border-radius: 50%;
    }

    &__pict-three {
        display: block;
        border-radius: 0px 25px;
    }
}

.hero-imglist__item {
    width: 100%;
    @include media (768px) {width: 114px;}
    @include media (1440px) {width: 203px;}

    & img {
        filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
    }
}