.hero {
    // font-family: sans-serif;
    // @include fonts(400, 16px, 19px, null);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;

    color: #2B2B2B;
}

    .hero__title {
       


        width: 280px;
        margin: auto;

        font-weight: 400;
        font-size: 18px;
        line-height: calc(21 / 18);
    }

    .hero-imglist {
        list-style: none;

        display: flex;
        justify-content: center;
        gap: 15px;

        margin-top: 32px;
        margin-bottom: 32px;
        
        &__pict-one {
            display: block;
            border-radius: 0px 35px 0px 0px;
        }
        &__pict-two {
            display: block;
            border-radius: 50%;
        }
        &__pict-three {
            display: block;
            border-radius: 0px 25px;
        }
    }

    .hero-imglist__item {
        max-width: calc((100vw - 40px) / 3);
 
        & img {
            filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.3));
        }
    }
