// .section {
//   padding-bottom: 156px;
// }

// .container {
//   @media screen and (min-width: 1440px) {
//     padding: 0 149px;
//   }
// }
.photo {
margin-bottom: 40px;

  @include media(768px) {
    margin-bottom: 60px;
  }

  @include media(1440px) {
    margin-bottom: 120px;
  }
}
.photo__titel {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #487996;
  margin-bottom: 16px;
}

.photo__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.photo__link img {
  width: 100vw;
  @media screen and (min-width: 480px) {
    width: 440px;
  }
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(43, 43, 43, 0.8);
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.popup__arear {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in-out 0s;
}
.popup-content {
  background-color: #2196f3;
  position: relative;
  transition: all;
  transform: translate(0px, -100%);
  opacity: 0;
}
.popup-left {
  position: absolute;
  left: -24px;
  top: 50%;
  fill: #ffffff;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    left: -50px;
  }
  @media screen and (min-width: 1440px) {
    left: -85px;
  }
}
.popup-right {
  position: absolute;
  right: -24px;
  top: 50%;
  fill: #ffffff;
  text-decoration: none;
  @media screen and (min-width: 768px) {
    right: -50px;
  }
  @media screen and (min-width: 1440px) {
    right: -85px;
  }
}
.popup-img {
  width: 236px;
  height: 157px;
  @media screen and (min-width: 480px) {
    width: 396px;
    height: 285px;
  }
  @media screen and (min-width: 768px) {
    width: 554px;
    height: 369px;
  }
  @media screen and (min-width: 1440px) {
    width: 906px;
    height: 605px;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup-content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__left-svg {
  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
  @media screen and (min-width: 1440px) {
    width: 42px;
    height: 42px;
  }
}

.popup__right-svg {
  @media screen and (min-width: 768px) {
    width: 26px;
    height: 26px;
  }
  @media screen and (min-width: 1440px) {
    width: 42px;
    height: 42px;
  }
}
