.scanning {
  padding-top: 92px;

  @include media(768px) {
    padding-top: 104px;
  }

  @include media(1440px) {
    padding-top: 188px;
  }
}

.scanning__wrapper {
  @media screen and (min-width: 768px) {
    max-width: 515px;
  }

  @media screen and (min-width: 1440px) {
    display: inline-flex;
    width: 100%;
  }
}

.scanning__item + .scanning__item {
  @media screen and (min-width: 300px) and (max-width: 1439px) {
    margin-top: 16px;
  }
}

.scanning__text {
  position: relative;
  z-index: 2;

  font-style: 400;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 1440px) {
    width: 515px;
    font-size: 18px;
    line-height: 23px;
    margin: 0;
  }
}

.scanning__text + .scanning__text {
  margin-top: 16px;
  @media screen and (min-width: 1440px) {
    margin-top: 24px;
    margin-right: 72px;
  }
}

.text-tab {
  display: none;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: block;
  }
}

.text-desk {
  display: none;
  @media screen and (min-width: 1440px) {
    display: block;
  }
}

.image-position {
  position: relative;
}

.scanning__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  background-image: url(.././images/scanning-hero-mob.png);
  background-repeat: no-repeat;
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(.././images/scanning-hero-mob-2x.png);
    background-size: auto;
    background-size: contain;
  }

  @media screen and (max-width: 320px) {
    height: 199px;
  }

  @media screen and (min-width: 321px) and (max-width: 767px) {
    width: 100%;
    height: 68vw;
    max-height: 320px;
    min-height: 199px;
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 39px;
    right: -215px;
    background-image: url(.././images/scanning-hero-tab.png);
    width: 241px;
    height: 172px;
    margin-top: 0;
    z-index: 0;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-hero-tab-2x.png);
      background-size: 241px;
    }
  }

  @media screen and (min-width: 1440px) {
    position: relative;
    top: 0;
    right: 0;
    background-image: url(.././images/scanning-hero-desk.png);
    width: 435px;
    height: 286px;
    margin: 0;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-hero-desk-2x.png);
      background-size: 435px;
    }
  }
}

// <!-- Scan Process -->

.scan-process > .container {
  padding-top: 40px;
  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 22px;
    width: 1440px;
  }
}

.scan-process__title {
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  text-transform: uppercase;
  color: #487996;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
    margin-left: 28px;
    font-size: 24px;
    line-height: 30px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 40px;
    margin-left: 117px;

    font-size: 36px;
    line-height: 45px;
  }
}

.scan-process__wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 210px;
  }

  @media screen and (min-width: 1440px) {
    width: 100%;
    height: 381px;
  }
}

.scan-process__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  gap: 16px 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.scan-process__item {
  position: relative;
  width: calc(50% - 10px);
  min-height: 182px;

  background: #ffffff;
  opacity: 0.8;
  box-shadow: inset 1px 1px 16px #cbcbcb, inset -1px -1px 16px #ffffff;
  border-radius: 50px 0px;

  @media screen and (min-width: 300px) and (max-width: 767px) {
    height: 50vw;
    max-height: 240px;
  }

  @media screen and (min-width: 768px) {
    width: 152px;
    height: 210px;
  }

  @media screen and (min-width: 1440px) {
    width: 320px;
    height: 381px;
  }
}

.scan-process__text {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translatex(-50%);
  width: 130px;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #487996;

  @media screen and (min-width: 768px) {
    bottom: 25px;
  }

  @media screen and (min-width: 1440px) {
    bottom: 45px;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    width: 170px;
  }
}

.scan-process__text span {
  padding-left: 44px;
  padding-right: 44px;

  @media screen and (min-width: 1440px) {
    padding: 0;
  }
}

.item__one::before {
  position: absolute;
  content: '';
  top: 7%;
  left: 50%;
  transform: translatex(-50%);

  width: 70%;
  height: 45%;

  @media screen and (min-width: 480px) {
    background-size: 120px;
  }

  background-image: url(.././images/scanning-process1-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 25vw;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(.././images/scanning-process1-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(.././images/scanning-process1-tab.png);
    width: 108px;
    height: 94px;
    top: 17px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process1-tab-2x.png);
      background-size: 108px;
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(.././images/scanning-process1-desk.png);
    width: 240px;
    height: 209px;
    top: 67px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process1-desk-2x.png);
      background-size: 240px;
    }
  }
}

.item__two::before {
  position: absolute;
  content: '';
  top: 7%;
  left: 50%;
  transform: translatex(-50%);

  width: 70%;
  height: 45%;

  @media screen and (min-width: 480px) {
    background-size: 120px;
  }

  background-image: url(.././images/scanning-process2-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 25vw;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(.././images/scanning-process2-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(.././images/scanning-process2-tab.png);
    width: 108px;
    height: 94px;
    top: 17px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process2-tab-2x.png);
      background-size: 108px;
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(.././images/scanning-process2-desk.png);
    width: 240px;
    height: 209px;
    top: 67px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process2-desk-2x.png);
      background-size: 240px;
    }
  }
}

.item__three::before {
  position: absolute;
  content: '';
  top: 7%;
  left: 50%;
  transform: translatex(-50%);

  width: 70%;
  height: 45%;

  @media screen and (min-width: 480px) {
    background-size: 120px;
  }
  background-image: url(.././images/scanning-process3-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 25vw;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(.././images/scanning-process3-mob-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(.././images/scanning-process3-tab.png);
    width: 108px;
    height: 94px;
    top: 17px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process3-tab-2x.png);
      background-size: 108px;
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(.././images/scanning-process3-desk.png);
    width: 240px;
    height: 209px;
    top: 67px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process3-desk-2x.png);
      background-size: 240px;
    }
  }
}

.item__four::before {
  position: absolute;
  content: '';
  top: 7%;
  left: 50%;
  transform: translatex(-50%);

  width: 70%;
  height: 45%;

  @media screen and (min-width: 480px) {
    background-size: 120px;
  }
  background-image: url(.././images/scanning-process4-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 25vw;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(.././images/scanning-process4-tab-2x.png);
  }

  @media screen and (min-width: 768px) {
    background-image: url(.././images/scanning-process4-tab.png);
    width: 108px;
    height: 94px;
    top: 17px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process4-tab-2x.png);
      background-size: 108px;
    }
  }

  @media screen and (min-width: 1440px) {
    background-image: url(.././images/scanning-process4-desk.png);
    width: 240px;
    height: 209px;
    top: 67px;
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(.././images/scanning-process4-desk-2x.png);
      background-size: 240px;
    }
  }
}

// <!-- scan-button -->

.scan-btn .container {
  padding-top: 40px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.scan-btn__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;

  width: 280px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;

  background: #f5f5fa;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  border-radius: 30.5px;
  border: none;
}

.scan-btn__text {
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #487996;
}
