
<section class="contacts">
    <div class="container">
        <h2 class="title-page">КОНТАКТИ</h2>
        <picture>
          <source
            media="(max-width: )"
            srcset="
              /src/images/cubemob-1.jpg    1x,
              /src/images/cubemob-1-2x.jpg 2x
            "
          />
          <img src="/src/images/cubemob-1.jpg" alt="Cube" class="order-img" />
        </picture>
      </div>
      <div class="contacts-text">
        <p class="order-text contact-text">
          Людина уперше побачивши процес 3D друку може легко захопитися
          спостереженням за цим процесом не на десяток хвилин.
        </p>
        <p class="order-text contact-text">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>
        <ul class="smile-list list>">
          <li class="smile-item list">
            <p class="order-text contact-text">Приємного перегляду!</p>
          </li>

          <li class="smile-item list">
            <img src="/src/images/emoji.png" alt="smile" class="smile" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
