<section class="contacts">
    <div class="container">
        <h2 class="title-page title-contacts">КОНТАКТИ</h2>
        <ul class="contacts-list">
            <li class="contacts-item img-bg"></li>
        <li class="contacts-item"><p class="order-text">
            Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин.</p>
        <p class="order-text">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися
          з технологією 3D друку і просто помилуватися красою цього процесу.
        </p>
        <p class="order-text smile">
          Приємного перегляду!
          <span><img class="emoji" src="/src/images/emoji.png" alt="smile"></span>
        </p>
      </li>
    </ul>
  </div>
</section>
