<footer class="footer">
    <div class="footer-container  container">
        <div class="footer__box">
           <a class="footer__logo" href="">
           <picture class="footer-picture">
            <source srcset="./src/images/logo-mob-1x.png  1x, 
                            ./src/images/logo-mob-2x.png   2x"
                            media="(min-width:192px)" />             
            <img src="./src/images/logo-mob-1x.png" alt="Freedom">
        </picture></a>
           <ul class="footer__list list">
            <li class="footer__item">Головна</li>
            <li class="footer__item">3D Моделювання</li>
            <li class="footer__item">3D Сканування</li>
            <li class="footer__item">3D Друк</li>
            <li class="footer__item">Замовити</li>
            <li class="footer__item">Контакти</li>
        </ul></div>
        <div class="footer__soc">
            <ul class="footer__soc-list list">
                <li class="footer__soc-item">Instagram</li>
                <li class="footer__soc-item">YouTube</li>
                <li class="footer__soc-item">Facebook</li>
            </ul></div>
            <address>
            <ul class="footer__contacts list">
                <li class="footer__contacts-item">
                    <div class="footer-wrap">
                        <p class="footer-title"> Email</p>
                    <a class="footer__email link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a></div> </li>
                <li class="footer__contacts-item">
                    <div class="footer-box">
                    <p class="footer-title">Телефони</p>
                    <div class="tel-top"> <a class="footer__tel link" href="tel:+380936432288">+38 (093) 643 22 88</a> </div>
                    <div class="tel-bottom"> <a class="footer__tel" href="tel:+380503454423">+38 (050) 345 44 23</a></div>
                    </div></li>
            </ul>
            </address>
    </div> 
</footer>