<div class="container">
  <h2 class="title">ГАЛЕРЕЯ</h2>
  <ul class="gallery list">
    <li class="gallery__list">
      <picture>
        <source
          srcset="
            /src/images/gallery-mob1.jpg    1x,
            /src/images/gallery-mob1-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/src/images/gallery1-1x.jpg"
          width="450"
          alt="Інженерний аналіз"
        />
      </picture>

      <p class="gallery__text">Інженерні методи аналізу та контролю якості</p>
    </li>
    <li class="gallery__list">
      <picture>
        <source
          srcset="
            /src/images/gallery-mob2.jpg    1x,
            /src/images/gallery-mob2-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/src/images/gallery2-1x.jpg"
          width="450"
          alt="3Д сканування"
        />
      </picture>

      <p class="gallery__text">Високоточне 3D сканування</p>
    </li>
    <li class="gallery__list">
      <picture>
        <source
          srcset="
            /src/images/gallery-mob3.jpg    1x,
            /src/images/gallery-mob3-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="/src/images/gallery3-1x.jpg" width="450" alt="3Д копія" />
      </picture>

      <p class="gallery__text">Створення точної копії на базі сканування reverse engineering</p>
    </li>
    <li class="gallery__list">
      <picture>
        <source
          srcset="
            /src/images/gallery-mob4.jpg    1x,
            /src/images/gallery-mob4-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img src="/src/images/gallery4-1x.jpg" width="450" alt="3Д Дизайн" />
      </picture>

      <p class="gallery__text">
        Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
      </p>
    </li>
  </ul>
</div>
