<div class="container">
  <div class="modeling">
    <h1 class="title-page">3D МОДЕЛЮВАННЯ</h1>
    <p class="modeling__p">
      Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована
      модель буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках
      або іншими виробничими методами, то до моделі преставляеться ряд
      інженерних вимог які повинен враховувати дизайнер при розробці моделі.
    </p>
    <p class="modeling__p-second">
      Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
      підготують модель для її створення. Ми маємо широкий спектр інструментів
      для вдоволення будь-якої вашої задачі.
    </p>
    <h2 class="title-section">Способи створення моделі:</h2>
    <div class="modeling__methods">
    <ul class="modeling__ul">
      <li class="modeling__li">3D сканування</li>
      <li class="modeling__li">На основі фотографій з доданими розмірами</li>
      <li class="modeling__li">За ескізами з розмірами</li>
      <li class="modeling__li">За вашим кресленням</li>
      <li class="modeling__li">
        По вже існуючому прототипу шляхом зняття розмірів
      </li>
    </ul>
    <div class="modeling__npg-photo"></div>
    </div>
    <h3 class="title-section">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h3>
    <div class="modeling__pictures">
      <picture>
        <source
          srcset="
            ./images/modeling-mob-1x-1.jpg 1x,
            ./images/modeling-mob-2x-1.jpg 2x
          "
          media="( max-width: 480px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-1.jpg"
          alt="макет деталі 1"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/modeling-mob-1x-2.jpg 1x,
            ./images/modeling-mob-2x-2.jpg 2x
          "
          media="( max-width: 480px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-2.jpg"
          alt="макет деталі 2"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/modeling-mob-1x-3.jpg 1x,
            ./images/modeling-mob-2x-3.jpg 2x
          "
          media="( max-width: 480px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-3.jpg"
          alt="макет деталі 3"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./images/modeling-mob-1x-4.jpg 1x,
            ./images/modeling-mob-2x-4.jpg 2x
          "
          media="( max-width: 480px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-4.jpg"
          alt="макет деталі 4"
        />
      </picture>
    </div>
  </div>
</div>
