<div class="container">
  <div class="modeling">
      <li class="modeling__li">
        <div class="modeling__marker"></div>
    <h2 class="modeling__h2">3D МОДЕЛЮВАННЯ</h2>
    <div class="modeling__text">
      <p class="modeling__p">
        Сфера 3D графіки може надати широкий спектр послуг. Але якщо
        спроектована модель буде створюватися шляхом 3D друку, обробки заготовки
        на ЧПУ станках або іншими виробничими методами, то до моделі
        преставляеться ряд інженерних вимог які повинен враховувати дизайнер при
        розробці моделі.
      </p>
      <p class="modeling__p-second">
        Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
        підготують модель для її створення. Ми маємо широкий спектр інструментів
        для вдоволення будь-якої вашої задачі.
      </p>
    </div>

    <h3 class="modeling__h3">Способи створення моделі:</h3>
    <div class="modeling__methods">
      <ul class="modeling__ul">
        <li class="modeling__li">
          <div class="modeling__marker"></div>
          3D сканування
        </li>
        <li class="modeling__li">
          <div class="modeling__marker"></div>
          На основі фотографій з доданими розмірами
        </li>
        <li class="modeling__li">
          <div class="modeling__marker"></div>
          За ескізами з розмірами
        </li>
        <li class="modeling__li">
          <div class="modeling__marker"></div>
          За вашим кресленням
        </li>
        <li class="modeling__li">
          <div class="modeling__marker"></div>
          По вже існуючому прототипу шляхом зняття розмірів
        </li>
      </ul>
      <div class="modeling__npg-photo"></div>
    </div>

    <h4 class="modeling__h4">
      МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ
    </h4>
    <div class="modeling__pictures">
      <picture class="modeling__png">
        <source
          srcset="
            ./images/dtop-modeling-1x-1.png 1x,
            ./images/dtop-modeling-2x-1.png 2x
          "
          media="( min-width: 1440px)"
        />
        <source
          srcset="
            ./images/tab-modeling-1x-1.png 1x,
            ./images/tab-modeling-2x-1.png 2x
          "
          media="( min-width: 768px)"
        />
        <source
          srcset="
            ./images/modeling-mob-1x-1.png 1x,
            ./images/modeling-mob-2x-1.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-1.png"
          alt="макет деталі 1"
        />
      </picture>
      <picture class="modeling__png">
        <source
          srcset="
            ./images/dtop-modeling-1x-2.png 1x,
            ./images/dtop-modeling-2x-2.png 2x
          "
          media="( min-width: 1440px)"
        />
        <source
          srcset="
            ./images/tab-modeling-1x-2.png 1x,
            ./images/tab-modeling-2x-2.png 2x
          "
          media="( min-width: 768px)"
        />
        <source
          srcset="
            ./images/modeling-mob-1x-2.png 1x,
            ./images/modeling-mob-2x-2.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-2.png"
          alt="макет деталі 2"
        />
      </picture>
      <picture class="modeling__png">
        <source
          srcset="
            ./images/dtop-modeling-1x-3.png 1x,
            ./images/dtop-modeling-2x-3.png 2x
          "
          media="( min-width: 1440px)"
        />
        <source
          srcset="
            ./images/tab-modeling-1x-3.png 1x,
            ./images/tab-modeling-2x-3.png 2x
          "
          media="( min-width: 768px)"
        />
        <source
          srcset="
            ./images/modeling-mob-1x-3.png 1x,
            ./images/modeling-mob-2x-3.png 2x
          "
          media="(max-width: 1440px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-3.png"
          alt="макет деталі 3"
        />
      </picture>
      <picture class="modeling__png">
        <source
          srcset="
            ./images/dtop-modeling-1x-4.png 1x,
            ./images/dtop-modeling-2x-4.png 2x
          "
          media="( min-width: 1440px)"
        />
        <source
          srcset="
            ./images/tab-modeling-1x-4.png 1x,
            ./images/tab-modeling-2x-4.png 2x
          "
          media="( min-width: 768px)"
        />
        <source
          srcset="
            ./images/modeling-mob-1x-4.png 1x,
            ./images/modeling-mob-2x-4.png 2x
          "
          media="( max-width: 1440px)"
        />
        <img
          class="modeling__photo"
          src="./images/modeling-mob-2x-4.png"
          alt="макет деталі 4"
        />
      </picture>
    </div>
  </div>
</div>
