<section class="section photo">
  <div class="container">
    <h2 class="title-page">БІЛЬШЕ ФОТО</h2>
    <div class="more__phote">
      <ul class="photo__list list">
        <li class="photo__item" data-index="1">
          <a href="#popup" class="photo__link link">
            <picture>
              <source
                srcset="
                  ./images/more-foto/toys.jpg    1x,
                  ./images/more-foto/toys-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/toys-tab.jpg    1x,
                  ./images/more-foto/toys-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/toys-mob.jpg    1x,
                  ./images/more-foto/toys-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/toys.jpg"
                alt="мініатюри"
                width="438"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="2">
          <a href="#popup" class="photo__link link">
            <picture>
              <source
                srcset="
                  ./images/more-foto/architectural.jpg    1x,
                  ./images/more-foto/architectural-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/architectural-tab.jpg    1x,
                  ./images/more-foto/architectural-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/architectural-mob.jpg    1x,
                  ./images/more-foto/architectural-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/architectural.jpg"
                alt="архітектура"
                width="437"
                height="278"
              /> </picture
          ></a>
        </li>
        <li class="photo__item" data-index="3">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/wall-e.jpg    1x,
                  ./images/more-foto/wall-e-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/wall-e-tab.jpg    1x,
                  ./images/more-foto/wall-e-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/wall-e-mob.jpg    1x,
                  ./images/more-foto/wall-e-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/wall-e.jpg"
                alt="робот волл-и"
                width="280"
                height="340"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="4">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/scull.jpg    1x,
                  ./images/more-foto/scull-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/scull-tab.jpg    1x,
                  ./images/more-foto/scull-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/scull-mob.jpg    1x,
                  ./images/more-foto/scull-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/scull.jpg"
                alt="череп"
                width="203"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="5">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/t29.jpg    1x,
                  ./images/more-foto/t29-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/t29-tab.jpg    1x,
                  ./images/more-foto/t29-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/t29-mob.jpg    1x,
                  ./images/more-foto/t29-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/t29.jpg"
                alt="танк"
                width="437"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="6">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/mini-desk-lamp.jpg    1x,
                  ./images/more-foto/mini-desk-lamp-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/mini-desk-lamp-tab.jpg    1x,
                  ./images/more-foto/mini-desk-lamp-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/mini-desk-lamp-mob.jpg    1x,
                  ./images/more-foto/mini-desk-lamp-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/mini-desk-lamp.jpg"
                alt="мініатюрні настольні лампи"
                width="438"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="7">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/car-body.jpg    1x,
                  ./images/more-foto/car-body-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/car-body-tab.jpg    1x,
                  ./images/more-foto/car-body-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/car-body-mob.jpg    1x,
                  ./images/more-foto/car-body-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/car-body.jpg"
                alt="кузов автомобіля"
                width="438"
                height="203"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="8">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/ancient-building.jpg    1x,
                  ./images/more-foto/ancient-building-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/ancient-building-tab.jpg    1x,
                  ./images/more-foto/ancient-building-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/ancient-building-mob.jpg    1x,
                  ./images/more-foto/ancient-building-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/ancient-building.jpg"
                alt="стародавня будівля"
                width="437"
                height="203"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="9">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/desk-lamp.jpg    1x,
                  ./images/more-foto/desk-lamp-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/desk-lamp-tab.jpg    1x,
                  ./images/more-foto/desk-lamp-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/desk-lamp-mob.jpg    1x,
                  ./images/more-foto/desk-lamp-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/desk-lamp.jpg"
                alt="настольна лампа мухомор"
                width="203"
                height="203"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="10">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/air-freshener.jpg    1x,
                  ./images/more-foto/air-freshener-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/air-freshener-tab.jpg    1x,
                  ./images/more-foto/air-freshener-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/air-freshener-mob.jpg    1x,
                  ./images/more-foto/air-freshener-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/air-freshener.jpg"
                alt="освіжач повітря"
                width="203"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="11">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/cybertrack.jpg    1x,
                  ./images/more-foto/cybertrack-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/cybertrack-tab.jpg    1x,
                  ./images/more-foto/cybertrack-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/cybertrack-mob.jpg    1x,
                  ./images/more-foto/cybertrack-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/cybertrack.jpg"
                alt="автомобіль кібертрак"
                width="437"
                height="278"
              />
            </picture>
          </a>
        </li>
        <li class="photo__item" data-index="12">
          <a href="#popup" class="photo__link link"
            ><picture>
              <source
                srcset="
                  ./images/more-foto/flowerpot.jpg    1x,
                  ./images/more-foto/flowerpot-2x.jpg 2x
                "
                media="(min-width:1440px)"
              />
              <source
                srcset="
                  ./images/more-foto/flowerpot-tab.jpg    1x,
                  ./images/more-foto/flowerpot-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/more-foto/flowerpot-mob.jpg    1x,
                  ./images/more-foto/flowerpot-mob-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                src="./images/more-foto/flowerpot.jpg"
                alt="вазон для квітів"
                width="438"
                height="278"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="popup" class="popup">
    <a href="#header" class="popup__area"></a>
    <div class="popup-body">
      <div class="popup-content">
        <a href="#header" class="popup-left">
          <svg class="popup__left-svg" width="10" height="11">
            <use
              class="poup__left-icon"
              href="/src/images/icons.svg#icon-left"
            ></use>
          </svg>
        </a>
        <a href="#header" class="popup-right">
          <svg class="popup__right-svg" width="10" height="11">
            <use
              class="poup__right-icon"
              href="/src/images/icons.svg#icon-right"
            ></use>
          </svg>
        </a>
        <img
          class="popup-img"
          src="./images/more-foto/mini-desk-lamp-modal.jpg"
          alt="lamp"
          width="906"
          height="605"
        />
      </div>
    </div>
  </div>
</section>
