<section class="printing">
    <div class="container">
        <h2 class="printing-title title-page">Ми створюємо</h2>
        <h3 class="hidden-title visually-hidden">Зразки моделей</h3>
        <ul class="examples-list list">
            <li class="examples-item">
                <picture>
                    <source srcset="
                    ./images/creation-img1.png  1x,
                    ./images/creation-img1-2x.png 2x
                    " media="(min-width: 1440px)" />
                    <source srcset="
                    ./images/creation-img1-tab.png  1x,
                    ./images/creation-img1-tab-2x.png 2x
                    " media="(min-width: 768px)" />
                    <source srcset="
                    ./images/creation-img1-mob.png  1x,
                    ./images/creation-img1-mob-2x.png 2x
                    " media="(max-width: 767px)" />
                   
                    <img class="examples-item-img" src=" ./images/creation-img1.png" alt="Прототипи" />
                </picture>
                <p class="examples-pre-title">Прототипи</p>
            </li>
            <li class="examples-item">
                <picture>
                    <source srcset="
                                            ./images/creation-img2.png  1x,
                                            ./images/creation-img2-2x.png 2x
                                            " media="(min-width: 1440px)" />
                    <source srcset="
                                            ./images/creation-img2-tab.png  1x,
                                            ./images/creation-img2-tab-2x.png 2x
                                            " media="(min-width: 768px)" />
                    <source srcset="
                                            ./images/creation-img2-mob.png  1x,
                                            ./images/creation-img2-mob-2x.png 2x
                                            " media="(max-width: 767px)" />
                    <img class="examples-item-img" src="./images/creation-img2.png" alt="Макети" />
                </picture>
                <p class="examples-pre-title">Макети</p>
            </li>
            <li class="examples-item">
                <picture>
                    <source srcset="
                            ./images/creation-img3.png  1x,
                            ./images/creation-img3-2x.png 2x
                             " media="(min-width: 1440px)" />
                    <source srcset="
                            ./images/creation-img3-tab.png  1x,
                            ./images/creation-img3-tab-2x.png 2x
                            " media="(min-width: 768px)" />
                    <source srcset="
                            ./images/creation-img3-mob.png  1x,
                            ./images/creation-img3-mob-2x.png 2x
                             " media="(max-width: 767px)" />
                   
                    <img class="examples-item-img" src="./images/creation-img3.png" alt="Декор" />
                </picture>
                <p class="examples-pre-title">Декор</p>
            </li>
            <li class="examples-item">
                <picture>
                    <source srcset="
                                ./images/creation-img4.png  1x,
                                ./images/creation-img4-2x.png 2x
                                " media="(min-width: 1440px)" />
                    <source srcset="
                                ./images/creation-img4-tab.png  1x,
                                ./images/creation-img4-tab-2x.png 2x
                                " media="(min-width: 768px)" />
                    <source srcset="
                                ./images/creation-img4-mob.png 1x,
                                ./images/creation-img4-mob-2x.png 2x
                               " media="(max-width: 767px)" />
                   
                    <img class="examples-item-img" src="./images/creation-img4-mob.png" alt="Корпоративний дизайн" />
                </picture>
                <p class="examples-pre-title">Корпоративний </br> дизайн</p>
            </li>
        </ul>
        <h3 class="hidden-title visually-hidden">Опис процесу</h3>
        <ul class="process-list list">
            <li class="process-item">
                <picture>
                    <source srcset="
                                ./images/creation-img5.jpg 1x,
                                ./images/creation-img5-2x.jpg 2x
                                " media="(min-width: 1440px)" />
                    <source srcset="
                                ./images/creation-img5-tab.jpg 1x,
                                ./images/creation-img5-tab-2x.jpg 2x
                                " media="(min-width: 768px)" />
                    <source srcset="
                                ./images/creation-img5-mob.jpg 1x,
                                ./images/creation-img5-mob-2x.jpg 2x
                                " media="(max-width: 767px)" />
                    <img class="process-item-img" src=./images/creation-img5.jpg alt="3D-друк" />
                </picture>

                <div class="process-description">
                    <p class="process-point"><span class="process-pre-title">3D-друк</span>- ми використовуємо FDM
                        технологію друку. Вона представляє собою пошарове формування
                        об'єкта за допомогою 3D принтера.</p>

                    <p class="process-point">Моделі для створення розроблюються дизайнерами в спеціальному програмному
                        забезпеченні: системах
                        автоматизованого
                        проектування.</p>

                    <p class="process-point">3D друк знайшов широке застосування в архітектурі, промисловості,
                        маркетингу, мистецтві і багатьох інших
                        сфер.</p>

                    <!-- <button class="printing-btn btn" type="button">Зробити замовлення</button> -->
                </div>
                <a class="printing-btn btn link" href="">Зробити замовлення</a>

            </li>
            <li class="process-item">
                <picture>
                    <source srcset="
                                ./images/creation-img6.jpg 1x,
                                ./images/creation-img6-2x.jpg 2x
                                " media="(min-width: 1440px)" />
                    <source srcset="
                                ./images/creation-img6-tab.jpg 1x,
                                ./images/creation-img6-tab-2x.jpg 2x
                                " media="(min-width: 768px)" />
                    <source srcset="
                                ./images/creation-img6-mob.jpg 1x,
                                ./images/creation-img6-mob-2x.jpg 2x
                                " media="(max-width: 767px)" />
                    <img class="process-item-img" src=./images/creation-img6.jpg alt="3D-моделювання" />
                </picture>

                <div class="process-description">
                    <p class="process-point"><span class="process-pre-title">3D-моделювання</span>- це процес розробки
                        математичного уявлення будь-якої поверхні об'єкта в трьох
                        вимірах за допомогою спеціалізованого
                        програмного забезпечення.</p>
                    <p class="process-point">Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
                    <p class="process-point">Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю
                        задовольнить ваші потреби.</p>

                    <!-- <button class="printing-btn btn" type="button">Зробити замовлення</button> -->
                </div><a class="printing-btn btn link" href="">Зробити замовлення</a>



            </li>
            <li class="process-item">
                <picture>
                    <source srcset="
                                ./images/creation-img7.jpg 1x,
                                ./images/creation-img7-2x.jpg 2x
                                " media="(min-width: 767px)" />
                    <source srcset="
                                ./images/creation-img7-tab.jpg 1x,
                                ./images/creation-img7-tab-2x.jpg 2x
                                " media="(min-width: 767px)" />
                    <source srcset="
                                ./images/creation-img7-mob.jpg 1x,
                                ./images/creation-img7-mob-2x.jpg 2x
                                " media="(max-width: 767px)" />
                    <img class="process-item-img" src=./images/creation-img7.jpg alt="3D-сканування" />
                </picture>

                <div class="process-description">
                    <p class="process-point"><span class="process-pre-title">3D-сканування</span>- зняття даних, шляхом
                        аналізу форми предмета і на основі отриманих даних створення
                        її 3D-моделі.</p>
                    <p class="process-point">Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель
                        для візуалізації в цифровому
                        вигляді, так і
                        3D-модель для подальшого її друку на 3D-принтері.</p>

                    <!-- <button class="printing-btn btn" type="button">Зробити замовлення</button> -->
                </div>
                <a class="printing-btn btn link" href="">Зробити замовлення</a>
            </li>
        </ul>
    </div>
</section>