<section class="printing">
    <div class="container">
<h2 class="printing-title title-page">Ми створюємо</h2>
<h3 class="hidden-title visually-hidden">Зразки моделей</h3>
<ul class="examples-list list">
    <li class="examples-item">
        <picture>
        <source srcset="
                    ./images/creation-img1-mob.png  1x,
                    ./images/creation-img1-mob-2х.png 2x
                    " media="(max-width: 767px)"/>
                    <img class="examples-item-img" src=" ./images/creation-img1-mob.png" alt="Прототипи"/>
                    </picture>
        <p class="examples-pre-title">Прототипи</p>
    </li>
    <li class="examples-item">
        <picture>
        <source srcset="
                        ./images/creation-img2-mob.jpg  1x,
                        ./images/creation-img2-mob-2x.jpg 2x
                        " media="(max-width: 767px)"/>
                        <img class="examples-item-img" src="./images/creation-img2-mob-2x.jpg" alt="Макети"/>
                        </picture>
        <p class="examples-pre-title">Макети</p>
    </li>
    <li class="examples-item">
        <picture>
        <source srcset="
                            ./images/creation-img3-mob.jpg  1x,
                            ./images/creation-img3-mob-2x.jpg 2x
                             " media="(max-width: 767px)" />
                            <img class="examples-item-img" src="./images/creation-img3-mob.jpg"  alt="Декор"/>
                            </picture>
        <p class="examples-pre-title">Декор</p>
    </li>
    <li class="examples-item">
        <picture>
            <source srcset="
                                ./images/creation-img4-mob.jpg 1x,
                                ./images/creation-img4-mob-2x.jpg 2x
                               " media="(max-width: 767px)"/>
                            <img class="examples-item-img" src="./images/creation-img4-mob.jpg"  alt="Корпоративний дизайн" />
                                </picture>
        <p class="examples-pre-title">Корпоративний дизайн</p>
    </li>
</ul>
<h3 class="hidden-title visually-hidden">Опис процесу</h3>
<ul class="process-list list">
    <li class="process-item">
        <picture>
            <source srcset="
                                ./images/creation-img5-mob.jpg 1x,
                                ./images/creation-img5-mob.jpg 2x.jpg 2x
                                " media="(max-width: 767px)"/> 
                                <img class="process-item-img" src=./images/creation-img5-mob.jpg alt="3D-друк" />
                                </picture>

        <div class="process-description"><p><span class="process-pre-title">3D-друк</span>- ми використовуємо FDM технологію друку. Вона представляє собою пошарове формування
            об'єкта за допомогою 3D принтера.</p>
        <p>Моделі для створення розроблюються дизайнерами в спеціальному програмному забезпеченні: системах
            автоматизованого
            проектування.</p>
        <p>3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу, мистецтві і багатьох інших
            сфер.</p>
            </div>
            <button class="printing-btn btn" type="button">Зробити замовлення</button>
    </li>
    <li class="process-item">
        <picture>
            <source srcset="
                                ./images/creation-img6-mob.jpg 1x,
                                ./images/creation-img6-mob.jpg 2x.jpg 2x
                                " media="(max-width: 767px)"/>
                                <img class="process-item-img" src=./images/creation-img6-mob.jpg alt="3D-моделювання" />
                                </picture>

        <div class="process-description"><p><span class="process-pre-title">3D-моделювання</span>- це процес розробки математичного уявлення будь-якої поверхні об'єкта в трьох
            вимірах за допомогою спеціалізованого
            програмного забезпечення.</p>
        <p>Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.</p>
        <p>Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю задовольнить ваші потреби.</p></div>
        <button class="printing-btn btn" type="button">Зробити замовлення</button>
    </li>
    <li class="process-item">
        <picture>
            <source srcset="
                                ./images/creation-img7-mob.jpg 1x,
                                ./images/creation-img7-mob.jpg 2x.jpg 2x
                                " media="(max-width: 767px)"/> 
                                <img class="process-item-img" src=./images/creation-img7-mob.jpg alt="3D-сканування" />
                                </picture>

        <div class="process-description"><p><span class="process-pre-title">3D-сканування</span>- зняття даних, шляхом аналізу форми предмета і на основі отриманих даних створення
            її 3D-моделі.</p>
        <p>Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для візуалізації в цифровому
            вигляді, так і
            3D-модель для подальшого її друку на 3D-принтері.</p></div>
            <button class="printing-btn btn" type="button">Зробити замовлення</button>
    </li>
</ul>
</div>
</section>