<!-- HERO -->

<section class="scanning">
  <div class="container">
    <h2 class="title-page">3D СКАНУВАННЯ</h2>
    <div class="scanning__wrapper">
      <div class="scanning__item">
        <p class="scanning__text">
          Процес створення 3D моделі по вже існуючій деталі може займати
          тривалий час. У деяких випадках процесс може займати багато годин.<br
            class="text-desk"
          />
          Але якщо виріб має складну геометрію і криволінійні поверхні, то
          велика ймовірність що перенести об'єкт в тривимірну цифрову модель
          може бути неможливо.
        </p>
        <p class="scanning__text">
          У такому випадку застосовуэться технологія 3D сканування. Цей<br
            class="text-tab"
          />
          метод оцифровки об'єктів дозволяє в короткі терміни отримати<br
            class="text-tab"
          />
          тривимірну модель деталі з потрібною точністю. Якщо від
          <br class="text-tab" />
          сканування потрібна проста комп'ютерна візуалізація, то<br
            class="text-tab"
          />
          допустима похибка сканування<br class="text-tab" /><br
            class="text-desk"
          />
          менше 2%.
        </p>
      </div>
      <div class="scanning__item image-position">
        <p class="scanning__text">
          Якщо потрібно сканування деталей з максимальною точністю, то
          використовуються спеціальні технології і постобробка отриманих<br
            class="text-desk"
          />
          сканів фахівцем.
        </p>
        <div class="scanning__image"></div>
      </div>
    </div>
  </div>
</section>

<!-- Scan Process -->

<section class="scan-process">
  <div class="container">
    <h3 class="title-section">ПРОЦЕС 3D СКАНУВАННЯ</h3>
    <div class="scan-process__wrapper">
      <ul class="scan-process__list">
        <li class="scan-process__item item__one">
          <h4 class="scan-process__text">
            Підготовка
            <span>деталі</span>
            до сканування
          </h4>
        </li>
        <li class="scan-process__item item__two">
          <h4 class="scan-process__text">
            Створення
            <span>сканів</span>
            і їх обробка
          </h4>
        </li>
        <li class="scan-process__item item__three">
          <h4 class="scan-process__text">
            Перетворення
            <span>reverse</span>
            engineering
          </h4>
        </li>
        <li class="scan-process__item item__four">
          <h4 class="scan-process__text">
            Підготовка
            <span>моделі</span>
            до друку
          </h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="scan-btn">
    <h3 class="visually-hidden">Заголовок</h3>
    <button type="button" class="btn">
      <span class="scan-btn__text">ЗРОБИТИ ЗАМОВЛЕННЯ</span>

      <a href="#Order Form Button"></a>
    </button>
    <div class="scan-btn__decor--one"></div>
  </div>
</section>




 

