<body>
  <header class="page-header">
    <div class="container"></div>
  </header>

  <main>
    <!-- HERO -->

    <section class="section scanning-section">
      <div class="container hero-scan">
        <h2 class="hero-scan__title">3D СКАНУВАННЯ</h1>
        <div class="hero-scan__wrapper">
          <div class="hero-scan__item">
            <p class="hero-scan__text">
              Процес створення 3D моделі по вже існуючій деталі може займати
              тривалий час. У деяких випадках процесс може займати багато
              годин.<br class="text-desk" />
              Але якщо виріб має складну геометрію і криволінійні поверхні, то
              велика ймовірність що перенести об'єкт в тривимірну цифрову модель
              може бути неможливо.
            </p>
            <p class="hero-scan__text">
              У такому випадку застосовуэться технологія 3D сканування. Цей<br
                class="text-tab"
              />
              метод оцифровки об'єктів дозволяє в короткі терміни отримати<br
                class="text-tab"
              />
              тривимірну модель деталі з потрібною точністю. Якщо від
              <br class="text-tab" />
              сканування потрібна проста комп'ютерна візуалізація, то<br
                class="text-tab"
              />
              допустима похибка сканування<br class="text-tab text-desk" />
              менше 2%.
            </p>
          </div>
          <div class="hero-scan__item">
            <p class="hero-scan__text">
              Якщо потрібно сканування деталей з максимальною точністю, то
              використовуються спеціальні технології і постобробка отриманих<br
                class="text-desk"
              />
              сканів фахівцем.
            </p>
            <div class="hero-scan__image"></div>
          </div>
        </div>
      </div>
    </section>

    <!-- Scan Process -->

    <section class="section scan-process">
      <div class="container">
        <h3 class="scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
        <div class="scan-process__wrapper">
          <ul class="scan-process__list">
            <li class="scan-process__item item__one">
              <h3 class="scan-process__text">
                Підготовка
                <span>деталі</span>
                до сканування
              </h3>
            </li>
            <li class="scan-process__item item__two">
              <h3 class="scan-process__text">
                Створення
                <span>сканів</span>
                і їх обробка
              </h3>
            </li>
            <li class="scan-process__item item__three">
              <h3 class="scan-process__text">
                Перетворення
                <span>reverse</span>
                engineering
              </h3>
            </li>
            <li class="scan-process__item item__four">
              <h3 class="scan-process__text">
                Підготовка
                <span>моделі</span>
                до друку
              </h3>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- scan-button -->

    <section class="section">
      <div class="container scan-btn">
        <h3 class="visually-hidden">Заголовок</h3>
        <button type="button" class="scan-btn__item">
          <span class="scan-btn__text">ЗРОБИТИ ЗАМОВЛЕННЯ</span>

          <a href="#Order Form Button"></a>
        </button>
      </div>
    </section>
  </main>
  <footer class="page-footer">
    <div class="container"></div>
  </footer>
</body>
