.contacts-details {
    padding-top: 60px;
    padding-bottom: 60px;
}

.contacts-details__title {

    font-weight: 700;
    font-size: 18px;
    line-height: 1.28;
    color: #487996;
}

.contacts-details__text {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-transform: capitalize;
    color: #2B2B2B;
}
