.order-img {
    padding: 0 20px;
    margin-top: 16px;
}

.order-text {
    font-weight: 300;
    font-size: 16px;
    line-height: calc(20px / 16px);
    color: var(--text-color);
    width: 100%;
    text-align: left;
    margin-top: 16px;
}

.forms {
    margin-top: 41px;
    width: 100%;
}
.order-form-choice {
    width: 100%;
    height: 24px;
    border: 1px solid transparent;
    border-bottom: 1px solid #487996;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color);
}

.order-form {
    display: block;
}

.order-form__name {
    margin-top: 28px;
}

.order-form__field {
    margin-top: 44px;
}

.order-form-name,
.order-form-email {
    width: 100%;
    height: 24px;
    border: 1px solid transparent;
    border-bottom: 1px solid #487996;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        text-transform: capitalize;
        color: var(--text-color);
    }
}

.order-form__comment {
    width: 100%;
    height: 199px;
    margin-top: 4px;
    resize: none;
    border: 1px solid #487996;
    border-radius: 50px 0px;

    &__comment::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #CDCDCD;
        max-width: 260px;
        height: 20px;
    }
}

.order-form-note {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #CDCDCD;
    // width: 280px;
    width: 100%;
    height: 80px;
    text-align: left;
}

.btn-send {
    margin-right: 20px;
    margin-top: 35px;
    width: 280px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
}

.form-svg-add {
    position: relative;
}

.svg-add {
    position: absolute;
    fill: red;
    top: 0%;
    left: 93%;
    transform: translate(-50%, 50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: blue;
    }
}