.title-page {
    @include fonts(700, 24px, 30px, null);

    color: var(--title-color);
    
    margin-bottom: 16px;
    @media screen and (max-width:767px) {
        @include fonts(700, 36px, 45px, null);
       

    }
                @media screen and (max-width:1439px) {
                    @include fonts(700, 48px, 60px, null);
                    
                    margin-bottom: 24px;
        
                }
}